<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mybatis.mapper.ClassroomMapper">

    <select id="selectByPrimaryKey" resultType="Classroom">
        select id, name
        from class
        <where>
            id = #{id}
        </where>
    </select>

    <select id="selectAll" resultType="Classroom">
        select * from class
    </select>

    <insert id="insert" parameterType="Classroom">
        insert into class(name) values(#{name})
    </insert>

    <delete id="deleteByPrimaryKey">
        delete from class
        <where>
            id = #{id}
        </where>

    </delete>

    <update id="updateByPrimaryKey" parameterType="Classroom">
        update class set name = #{name}
        <where>
            id = #{id}
        </where>
    </update>
</mapper>